
.pane {
    -fx-background-color: #AABDFF;
}

.btn {
    -fx-cursor : hand;
    -fx-background-color: #6280F9;
    -fx-background-radius : 10;
    -fx-effect: dropshadow(one-pass-box, #667099, 10, 0,0,8);
}

#btnOutChat {
      -fx-background-image: url("./picture/goback.png");
      -fx-background-size: 31px 38px;
      -fx-background-repeat: no-repeat;
      -fx-background-position: center;
      -fx-background-color: transparent;
}

.btn:hover {
    -fx-background-color: #203790;
}

.btn:pressed {
    -fx-background-color: #203790;
    -fx-effect: dropshadow(one-pass-box, #1C233E, 10, 0,0,4);
    -fx-translate-y: 4;
}

.tf_box {
    -fx-font-size: 16;
    -fx-background-radius : 10;
}

#scroll_pane {
      -fx-margin: 10;
     -fx-background-radius : 25;
     -fx-background-color: #AABDFF;
}

#vbox {
    -fx-padding: 20,0,20,0;
    -fx-background-color:#E5E5E5 ;
    -fx-background-radius : 25;


}